<%= form_with model: @booking, data: {controller: 'passenger'},method: :post do |f| %>
  <%= "Flight Number:" %>
  <%= params[:flight_id] %><br>
  <%= f.hidden_field :flight_id, value: params[:flight_id] %>
  <%= "Departure Airport: " %>
  <%= Airport.find(params[:departure_airport_id]).code %><br>
  <%= "Arrival Airport: " %>
  <%= Airport.find(params[:arrival_airport_id]).code %><br>
  <%= "Departure Date: " %>
  <%= params[:departure_date] %><br><br>
  <%= "Passengers: " %><br><br>
  <template data-passenger-target="template">
    <div data-passenger-target="fields">
      <%= f.fields_for :passengers, Passenger.new, child_index: 'NEW_RECORD' do |passenger_fields| %>
        <%= render "passenger_form", f: passenger_fields %>
      <% end %>
    </div>
  </template>

  <%= f.fields_for :passengers do |passenger_fields| %>
    <%= render "passenger_form", f: passenger_fields %>
  <% end %>
  
  <div data-passenger-target="target"></div>

  <button type="button" data-action="passenger#add">Add Passenger</button><br>

  <%= f.submit 'Save Booking' %>
<% end %>
<br>
