<%= form_with model: @booking, data: {controller: 'passenger'},method: :post do |f| %>
  <%= "Flight Number:" %>
  <%= params[:flight_id] %><br>
  <%= f.hidden_field :flight_id, value: params[:flight_id] %>
  <%= "Departure Airport: " %>
  <%= Airport.find(params[:departure_airport_id]).code %><br>
  <%= "Arrival Airport: " %>
  <%= Airport.find(params[:arrival_airport_id]).code %><br>
  <%= "Departure Date: " %>
  <%= params[:departure_date] %><br><br>
  <%= "Passengers: " %><br><br>
  <div data-passenger-target="form">
    <%= f.fields_for :passengers do |passengers_form|%>
        <%= passengers_form.label :name, "Name: " %>
        <%= passengers_form.text_field :name %><br>
        <%= passengers_form.label :email, "Email: " %>
        <%= passengers_form.text_field :email %><br><br>
    <% end %>
  </div>
  <br>
  <button type="button" data-action="passenger#add">
    Add Passenger
  </button><br>
  <button type="button" data-action="passenger#remove">
    Remove Passenger
  </button><br><br>
  <%= f.submit "Submit" %>
<% end %>
<br>
